<header>
    {{> header}}
    {{> productsHeader}}
</header>

<main>
    {{#if user}}
        <div class="mainProduct">
            {{#if product}}
                <h1>{{product._doc.title}}</h1>
                <img src="{{product._doc.imageUrl}}" alt="productImage">
                <p>{{product._doc.description}}</p>
                <p class="price">${{product._doc.price}}</p>
                <a href="/api/carts/{{cart._doc._id}}/product/{{product._doc._id}}" class="btn btn-primary btn-add">Agregar al carrito</a>
            {{/if}}
        </div>
    {{/if}}
</main>

<script>
    document.addEventListener('click', async (event) => {
        if (event.target.classList.contains('btn-add')) {
            event.preventDefault();
            const url = event.target.getAttribute('href');
            try {
                const response = await fetch(url, {
                    method: 'POST'
                });

                if (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Producto agregado',
                        text: 'El producto ha sido agregado al carrito correctamente.',
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ha ocurrido un error al agregar el producto al carritoooo.',
                    });
                }
            } catch (error) {
                console.error(error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ha ocurrido un error al agregar el producto al carrito.',
                });
            }
        }
    });
</script>